.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 15px;
  padding: 15px;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.embla__slide {
  flex: 0 0 100%; /* Slide covers 100% of the viewport */
  min-width: 0;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}